* {
  padding: 0;
  margin: 0;
}
html {
  font-family: 'Source Sans Pro', sans-serif !important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #333;
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b9b8b8;
}

/* body::-webkit-scrollbar {
  display: none;
} */
